@import url("../../variables.css");

.loader {
	border: 12px solid var(--background-color-alt);
	border-radius: 50%;
	border-top: 12px solid var(--primary-color);
	animation: spin 2s linear infinite;
	min-height: 1rem;
	min-width: 1rem;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
