.fadeOut {
	animation: fade-out 100ms linear;
}

.fadeIn {
	animation: fade-in 100ms linear;
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
